@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html{
  scroll-padding-top: 150px;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* responsive nav start in here*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 50;
    background-color: #fff;
    
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.logo{
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
@media (max-width:246px){
label.logo{
  font-size: 15px;

}
  }
  nav .ul{
    position: fixed;
    right: 0px;
    margin-right: 100px;
  }
  nav .ul .li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav .ul .li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  nav .ul .li a.active{
    background: none;
    color: #2196f3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);}

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav .ul .li a{
      font-size: 16px;
    }
  }
  @media (max-width: 768px){
    .checkbtn{
      display: block;
      position: fixed;
      right: 0px;
    }
    nav{
      background: #fff;
    }
    .ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav .ul .li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav .ul .li a{
      font-size: 20px;
    }

    #check:checked ~ .ul{
      left: 0;
    }
  }

/*responsive nav ends in here*/
/*smooth scroll sections start in here*/
#home{

      height: 1000px;
    width: 100%;
}
#myworks{

    height: 1600px;
    width: 100%;
    background-color: #e9ecef;
   }   
   #about{

    height: 1660px;
    width: 100%;
   }
   #Contact{
    
    height: 920px;
    width: 100%;
    background-color: #e9ecef;
   }


   .parallax {
    /* The image used */
    background-image:url("img/new7_auto_x2.jpg");
  position: relative;
    /* Full height */
    min-height: 1000px; 
    min-width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.big-title{
  position: absolute;
  left: 40px;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;

}


@media(max-width: 600px){
  .big-title{
      font-size: 3rem
  }
}
/*home page heading ends in here*/
 #myimg{
   width: 400px;
   position: relative;
   float: right;
  top: 100px;
  margin-right: 50px;
  border-radius: 30px;
}

.aboutme{
  font-size:30px ;
  position: relative;
  top: 5%;
  margin-left: 20px;
}

@media (max-width:902px){
  #myimg{
 position: relative;
 top: 2px;
 max-width: 100%;
 height: auto;
 margin-right: 0px;
float: none;
  }
}
@media (max-width:710px){
  #myimg{
    width:400px ;
    margin-left:150px ;
  }
}
@media (max-width:621px){
#myimg{
  margin-left: 100px;
}
}
@media (max-width:526px){
  #myimg{
    margin-left: 50px;
  }
}
@media (max-width:474px){
  #myimg{
    margin-left: 10px;
  }
}
@media (max-width:424px){
  #myimg{
    margin-left: 0px;
  }
}
@media(max-width:902px) {
.aboutme{
  position: relative;
  top: 50px;
  display: inline-block;
}
}


@media (max-width:432px) {

  .aboutme{

    font-size: 15px;
  }

}

@media (max-width:420px) {

  .aboutme{

    font-size: 25px;
  }
}
@media (max-width:610px){
  .aboutme{
    font-size: 23px;
  }

}
.topic1{
 padding: 30px;
}
.school{
  text-decoration: none;
  
}
#carouselExampleCaptions{
  position: relative;
  top: 300px;
  width: 90%;
  height: 80%;
  

}
.d-block{
  height: 700px;
  width: 500px; 
}
@media(max-width:768px){
  #carouselExampleCaptions{
    position: relative;
    top: 100px;
  }

}

@media (max-width:500px){
  .d-block{
    height:400px ;
    width:100% ;
  }
  #carouselExampleCaptions{
    position: relative;
    top:100px;
  }
}
@media (max-width:315px){
#carouselExampleCaptions{
    position: relative;
    top: 100px;
}
.big-title{
    font-size: 30px;
  }}

.product-small-img img{
  height: 92px;
  margin: 50px 0;
  cursor: pointer;
  display: inline;
  opacity: .6;
  position: relative;
  
}
.product{
 position: relative;
 top: 20px;
 
}
.img-container img{
  height: 500px;

}

.img-container{
  position: relative;
  top: 50px;


}
.product-small-img img:hover{
  opacity: 1;
}
@media (max-width:734px){

 #imageBox{ 
 position: relative;
 max-width: 100%;
 height: auto;
 margin-right: 0px;
float: none;
}}
@media (max-width:1155px){
.img-container{
  position: relative;
  top: 100px;
}}
@media (max-width:367px){
.product-small-img img{
 height: 60px;

  }
}
.topic3{

  position: relative;
  top: 150px;
}
.card{
  position: relative;
  top: 190px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  background-color: #575fcf;
 
}
.card-title{
  font-family: "Righteous", cursive;
}
.row-1 {
  width: 1500px;
  height: 450px;
  max-width: 100%;
}

.card-img-top{
  position: relative;
  top: 10px;
  width: 100px;
  height: auto;
}

@media (max-width:817px){
  .row-1{
    position: relative;
    max-width: 100%;
    height: auto;
    margin-right: 0px;
    float: none;
  }
  
  }

@media (max-width:905px){
  #carouselExampleCaptions{
    position: relative;
    top: 100px;
  }
}
@media(max-width:768px){

  #myworks{
    height: 2500px;
  }
}

.phone{

  display: inline-block;
  width: 100%;
  position: relative;
  top: 10px;
}
.fa-phone-alt{

  background-color: #fff;
  
}
    
.contact-main{
  position: relative;
  top: 50px;
  width: 90%;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  

}


.fa-map-marker-alt{
  padding: 10px;
  border: 2px solid #000;
  border-radius: 50%;

}

.fa-phone{
  padding: 10px;
  border: 2px solid #000;
  border-radius: 50%;


}
.fa-envelope{
  padding: 10px;
  border: 2px solid #000 ;
  border-radius: 50%;


}
.form-col{
  background-color: #575fcf;
}
@media (max-width: 902px){

  .contact-main{
    width: 90%;
  }

}
@media (max-width: 355px){

  .contact-main{
    font-size: 15px;
  }
}
@media (max-width: 269px){

  .contact-main{
    font-size: 14px;
  }
}
.con-col{
background-color: #00CBA9;
height: 600px;
}
.form{

  background-color: #A2D9FF;
  height: 600px;
}

.icons{
font-size: 25px;

}
.footer{

height: 120px;
background-color: #e9ecef;

}
a{
 text-decoration: none;

}
.footer a {
  font-size: 20px;
  
}
#hover{
  color: #000;
}
#hover:hover{
  color: #000;
}
.bg-green{
background-color: rgb(13, 196, 13);

}
.bg-itch{
  background-color:  #FC6D6D;
}
.bg-insta{
  background-color:  #e4405f;
}
@media(max-width:768px){
  #Contact{
    height: 2000px;

  }

}
@media(max-width:526){

  #app{

    margin-left: 0px;
  }

}
.wave{
  fill: #e9ecef;
}
.wave1{

  fill:#d2dae2;
}

.hr{

  width: 90%;
  color: #000;
}
